@{
    ViewData["Title"] = "KmetZaKmeta";
}

<div class="text-center">
    <h1 class="display-4">Vse za kmetijstvo na enem mestu!</h1>
</div>
<div class="row">
    <div class="column">
        <img src="https://raw.githubusercontent.com/aljaztravnik/kmetzakmeta/main/web/Views/Home/tractor.jpg" style="width:100%">
    </div>
    <div class="column">
        <img src="https://raw.githubusercontent.com/aljaztravnik/kmetzakmeta/main/web/Views/Home/animals.png" style="width:100%">
    </div>
</div>