@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potrditev registracije";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Ta aplikacija trenutno nima registriranega e-mail naslova. Preglejte <a href="https://aka.ms/aspaccountconf">ta navodila</a> kako konfigurirati pravega e-mail pošiljatelja.
    Ponavadi bi bilo to poslano prek e-mail: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Kliknite tukaj, da potrdite račun</a>
</p>
    }
    else
    {
<p>
        Preverite e-mail nabiralnik in potrdite svoj račun.
</p>
    }
}

