.details-container[b-rwnbj8qpz5] {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.image[b-rwnbj8qpz5] {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.details[b-rwnbj8qpz5] {
  padding: 20px;
}
.title[b-rwnbj8qpz5] {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.info[b-rwnbj8qpz5] {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}
.price[b-rwnbj8qpz5] {
  font-size: 30px;
  font-weight: bold;
  color: #e44d26;
}