a[b-gl9y8rihfs]{
    text-decoration: none;
}
.filter-dropdown[b-gl9y8rihfs] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}
.filter-container[b-gl9y8rihfs] {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.filter-form[b-gl9y8rihfs] {
  padding: 20px;
}
.filter-input[b-gl9y8rihfs] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}
.filter-button[b-gl9y8rihfs] {
  background-color: #e44d26;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.listing[b-gl9y8rihfs] {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  display: flex; /* Use flexbox to arrange children */
  text-decoration: none;
}
.image[b-gl9y8rihfs] {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
}
.car-details[b-gl9y8rihfs] {
  flex: 1; /* Take up remaining space */
  padding: 20px;
}
.title[b-gl9y8rihfs] {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-decoration: none;
}
.info[b-gl9y8rihfs] {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
  text-decoration: none;
}
.price[b-gl9y8rihfs] {
  font-size: 24px;
  font-weight: bold;
  color: #e44d26;
  text-decoration: none;
}